/* CSS declarations go here */
/* CSS declarations go here */

body {
    color: #444;
}

.dateRange {
    font-size: 100pt;
    line-height: 1em;
    letter-spacing: -10px;
    font-weight: bold;
}

.counter {
    font-size: 700px;
    line-height: 0.7em;
    letter-spacing: -70px;
}

.icon-bell {
    font-size: 244pt;
    line-height: 1.1em;
}

footer {
    font-size: 1.4em;
}
div {
    // border: solid 1px green;
}
